body {
    background-color: #61afd9;
}
div.navBar {
    background-color: #013ADF;
    padding:5px 0px 5px 0px;
}

div.datos {
    background-color: #01A9DB;
    padding:20px 0px 20px 0px;
}

div.content {
    padding:10px 0px 10px 0px;
}
div.ml-2 {
    background-color: #61afd9;
    padding:5px 0px 5px 0px;
}
a.navLink {
    font-size: 35px;
    margin: 30px 30px 0px 15px;
    color: white;
}

h1.datosLabelTitle {    
    margin:0px 0px 10px 25px;
    color: black;
    font-size: large;
    font-weight: bold;
}
span.datosLabel {
    margin:0px 0px 0px 25px;
    color: black;
    font-size: large;
    font-weight: bold;
}

h1.datosOtroTitle {    
    margin:0px 0px 10px 25px;
    color: black;
    font-size: large;
    font-weight: bold;
}
span.datosContent {
    margin:0px 0px 0px 15px;
    color: white;
    font-size: large;
    font-weight: bold;
}



button.botonMed {
    border-radius: 10px;
    background-color: #0404B4;
    color: white;
    height: 40px;
    width: 100px;
}
button.botonLargo {
    margin:0px 5px 0px 5px;
    border-radius: 10px;
    background-color: #0404B4;
    color: white;
    height: 30px;
    width: 150px;
}


table.tablaTarjetas1Linea {
    
}

table.tablaTarjetas1Linea tr {
}

table.tablaTarjetas1Linea td {

}
