body {
    background-color: rgb(113, 144, 155);
}
div.navBar {
    background-color: #000515;
    padding:5px 0px 5px 0px;
}

div.datos {
    background-color: #252C3F;
    padding:20px 0px 20px 0px;
}

div.content {
    padding:10px 0px 10px 0px;
}

div.miFooter {
    padding: 10px 0px 20px 0px;
}

.navLink {
    font-size: 35px;
    margin: 0px 15px 0px 100px;
    color: white;
}

img {
    border-radius: 10px; 
}

h1.datosLabelTitle {    
    margin:0px 0px 10px 5px;
    color: white;
    font-size: large;
    font-weight: bold;
}
span.datosLabel {
    margin:0px 0px 0px 5px;
    color: PapayaWhip ;
    font-size: large;
    font-weight: bold;
}

h1.datosOtroTitle {    
    margin:0px 0px 10px 25px;
    color: white;
    font-size: large;
    font-weight: bold;
}
span.datosContent {
    margin:0px 0px 0px 15px;
    color: PapayaWhip ;
   
}

h1.datosLabelTable {
    margin:0px 0px 10px 5px;
    color: black;
    font-size: large;
    font-weight: bold;
}

/* ----------------- Botones ----------------- */
button.botonMuyPeq, input.botonMuyPeq {
    border-color: #000515;
    border-radius: 10px;
    background-color: MediumSeaGreen;
    color: black;
    height: 30px;
    width: 60px;
}

button.botonMuyPeqEstirado, input.botonMuyPeqEstirado {
    border-color: #000515;
    border-radius: 10px;
    background-color: MediumSeaGreen;
    color: black;
    height: 30px;
    width: 90px;
}

button.botonPeq, input.botonPeq {
    border-color: #000515;
    border-radius: 10px;
    background-color: MediumSeaGreen;
    color: black;
    height: 40px;
    width: 60px;
}

button.botonPeqEstirado, input.botonPeqEstirado {
    border-color: #000515;
    border-radius: 10px;
    background-color: MediumSeaGreen;
    color: black;
    height: 40px;
    width: 80px;
}

button.botonMed, input.botonMed {
    border-color: #000515;
    border-radius: 10px;
    background-color: MediumSeaGreen;
    color: black;
    height: 40px;
    width: 100px;
}

button.botonLargo, input.botonLargo {
    border-color: #000515;
    border-radius: 10px;
    background-color: MediumSeaGreen;
    color: black;
    height: 40px;
    width: 150px;
}

button.botonGrand, input.botonGrand {
    border-color: #000515;
    border-radius: 10px;
    background-color: MediumSeaGreen;
    color: black;
    height: 80px;
    width: 200px;
}

button.botonMuyLargo, input.botonMuyLargo {
    border-color: #000515;
    border-radius: 10px;
    background-color: MediumSeaGreen;
    color: black;
    height: 30px;
    width: 250px;
}

button.botonMuyLargo:active, input.botonMuyLargo:active, button.botonGrand:active, input.botonGrand:active, button.botonLargo:active {
    transform: translateY(2px);
}

input.botonLargo:active, button.botonMed:active, input.botonMed:active, button.botonPeq:active, input.botonPeq:active {
    transform: translateY(2px);
}

button.botonMuyPeq:active, input.botonMuyPeq:active, button.botonMuyPeqEstirado:active, input.botonMuyPeqEstirado:active, button.botonPeqEstirado:active, input.botonPeqEstirado:active {
    transform: translateY(2px);
}

/* ----------------- Botones ----------------- */

div.datos label {
    color: aliceblue
}


/* div de tarjetas con datos, todas se llaman curso resumen, esto se debe cambiar */

/*       idea, tamaño estandar: pequeña, mediana, larga, grande, grandelarga (o algo asi) */

div.cursoResumen {
    border: black solid 3px;
    border-radius: 10px;
    padding: 5px 10px;
}

div.cursoResumenAdmin {
    border: black solid 3px;
    border-radius: 10px;
    padding: 5px 10px;
}

div.cursoResumen:hover {
    border: orange solid 3px;
 
}

div.cursoResumenAdmin:hover {
    border: orange solid 3px;
}
/** ------- div para border de tablas con 2 columnas */
div.cursoResumenLeft {
    border-top: black solid 3px;
    border-left: black solid 3px;
    border-bottom: black solid 3px;
    border-radius: 10px 0px 0px 10px;
    padding: 5px 10px;
}

div.cursoResumenLeftHover {
    border-top: orange solid 3px;
    border-left: orange solid 3px;
    border-bottom: orange solid 3px;

}

div.cursoResumenRight {
    border-top: black solid 3px;
    border-right: black solid 3px;
    border-bottom: black solid 3px;
    border-radius: 0px 10px 10px 0px;
    padding: 5px 10px;
}

div.cursoResumenRightHover {
    border-top: orange solid 3px;
    border-right: orange solid 3px;
    border-bottom: orange solid 3px;
}

div.cursoResumenCenter {
    border-top: black solid 3px;
    border-bottom: black solid 3px;
    padding: 5px 10px;
}

div.cursoResumenCenterHover {
    border-top: orange solid 3px;
    border-bottom: orange solid 3px;
}

/* reglas para el header */
div.cursoResumenLeftHeader {
    background-color: mediumseagreen;
    border-top: black solid 3px;
    border-left: black solid 3px;
    border-bottom: black solid 3px;
    border-radius: 10px 0px 0px 10px;
    padding: 5px 10px;
}

div.cursoResumenRightHeader {
    background-color: mediumseagreen;
    border-top: black solid 3px;
    border-right: black solid 3px;
    border-bottom: black solid 3px;
    border-radius: 0px 10px 10px 0px;
    padding: 5px 10px;
}

div.cursoResumenCenterHeader {
    background-color: mediumseagreen;
    border-top: black solid 3px;
    border-bottom: black solid 3px;
    padding: 5px 10px;
}


/* Tablas resumen cursos */

table.coevCurso {
    border-collapse: collapse;
    width: 100%;
}

table.coevCurso td{
    border: 1px solid #000515;
    padding: 8px;
    color: black;
}

span.nombreCoev:hover {
    color: brown;
}

table.coevCurso th {
    border: 1px solid #000515;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: mediumseagreen;
    color: black;
}

table.estudiantesCurso {
    border-collapse: collapse
}

table.estudiantesCurso th{
    border: 1px solid #000515;
    padding: 8px;
    background-color: mediumseagreen;
    color: black;
}

table.estudiantesCurso td{
    border: 1px solid #000515;
    padding: 8px;
    color: black;
}

table.equiposCurso {
    border-collapse: collapse;
}

table.equiposCurso th{
    border: 1px solid #000515;
    padding: 8px;
    background-color: mediumseagreen;
    color: black;
}

table.equiposCurso td{
    border: 1px solid #000515;
    padding: 8px;
    color: black;
}

table.coevDocCurso {
    border-collapse: collapse;
    margin: 10px 0px;
}

table.coevDocCurso td{
    border: 1px solid #000515;
    padding: 8px;
    color: black;
}



/* Clases de alineamiento y margenes */
.leftAling {
    position: relative;
    margin: 0 55%;
}

.pequeñoTopDown {
    margin: 5px 0px 5px 0px;
}

.pequeñoLeftRight {
    margin:0px 5px 0px 5px;

}


/* otros estilos */

.bordeGruesoTopBottom {
    border-top: solid black 4px;
    border-bottom: solid black 4px;
}
